{% load static %}
{% load app_filters %}


{% include 'dashboard/header.html' %}
{% block content %}

<div class="container" style="width: 600px;">
    <br>
    <div class="modal fade" id="modalinfo" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
        <div class="modal-content" style="margin-top: 45%;">
            <div class="modal-header">
            <h5 class="modal-title">Modal title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
            </div>
        </div>
        </div>
    </div>
    <div class="ljoueur">
    <center><h3>Liste des joueurs</h3></center><br>
    {% for users in listuser %} 
        {% for userscar in listusercar %}
            {% if users.id == userscar.id.id %}
                {% if users.username != user.username %} 
                    <div class="row list-joueur" id="joueur{{users.id}}">
                        <div class="profil-picture">
                            <div class="centered">{{userscar.niveau}}</div>
                            <img style="border-radius: 50%; border-style: solid; border-color: #2888f6; width: 90px;" src="/static/img/male.png" alt="Avatar">
                        </div>
                        <div class="row" style="width: 450px; margin-left: 30px;">
                            <div class="row" style="height: 35px; width: 500px;"> <div style="width: 380px;"><h4 style="font-weight:bolder;">{{users.username}}</h4></div>  <button style="width:88px;" type="button" class="btn btn-warning info-combat" data-toggle="modal" data-target="#modalinfo" data-id="{{users.id}}" user="{{users.username}}">Info</button>      </div>
                            <div class="row" style="height: 35px; width: 500px;"> <div style="width: 380px;"><p style=""><img class='icones' src='/static/img/icons/atq.png'>{{userscar.attaque}} <img class='icones' src='/static/img/icons/def.png'> {{userscar.defense}} <img class='icones' src='/static/img/icons/acc.png'> {{userscar.precision}} <img class='icones' src='/static/img/icons/spd.png'> {{userscar.vitesse}}</p></div><button type="button" class="btn btn-primary attaquer-combat">Attaquer</button> </div>
                        </div>
                    </div>
                    {% endif %}
                {% endif %}
            {% endfor %}
    {% endfor %}

      <div class="update" style="width: 100px; margin: 0 auto;">
        <button type="button" class="btn btn-success">Rafraichir</button>
      </div>
    </div>
</div>
<div class="container" id="game" style="width: 1268px; display: none;">
    <br>
    <div id="phaser"></div>

    
</div>   
<div class"container" id="score" style="width: 1268px; display: none; text-align: center; margin: 0 auto; margin-bottom: 10px;">

</div>
 <div class="retour" style="width: 100px; margin: 0 auto; display: none;">
    <button type="button" class="btn btn-danger">Retour</button>
  </div> 
</div>
<script src="//cdn.jsdelivr.net/npm/phaser@3.22.0/dist/phaser.min.js"></script>


{% endblock %}
{% include 'dashboard/footer.html' %}



