{% load static %}
{% load app_filters %}


{% include 'dashboard/header.html' %}
{% block content %}

<div class="container" style="width: 600px;">
    <br>
    <div class="modal fade" id="modalinfo" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title"></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
            </div>
        </div>
        </div>
    </div>
    <div class="ljoueur">
    <center><h3>Liste des joueurs</h3></center><br>
    {% for users in listuser %} 
        {% for userscar in listusercar %}
            {% if users.id == userscar.id.id %}
                {% if users.username != user.username %} 
                    <div class="row list-joueur" id="joueur{{users.id}}">
                        <div class="profil-picture">
                            <div class="centered">{{userscar.niveau}}</div>
                            <img style="border-radius: 50%; border-style: solid; border-color: #2888f6; width: 90px;" src="/static/img/male.png" alt="Avatar">
                        </div>
                        <div class="row" style="width: 450px; margin-left: 30px;">
                            <div class="row" style="height: 35px; width: 500px;"> <div style="width: 380px;"><h4 style="font-weight:bolder;">{{users.username}}</h4></div>  <button style="width:88px;" type="button" class="btn btn-warning info-combat" data-toggle="modal" data-target="#modalinfo" data-id="{{users.id}}" user="{{users.username}}">Info</button>      </div>
                            <div class="row" style="height: 35px; width: 500px;"> <div style="width: 380px;"><p style=""><img class='icones' src='/static/img/icons/atq.png'>{{userscar.attaque}} <img class='icones' src='/static/img/icons/def.png'> {{userscar.defense}} <img class='icones' src='/static/img/icons/acc.png'> {{userscar.precision}} <img class='icones' src='/static/img/icons/spd.png'> {{userscar.vitesse}}</p></div>
                            {% for u in check_user_attacked %}
                              {% if u.userid ==  users.id %}
                                {% if u.update == False %}
                                  <div class="tooltip-wrapper disabled" data-title="Veuillez attendre 1h avant chaque attaque">
                                    <button type="button" user="{{users.username}}" data-id="{{users.id}}" class="btn btn-default btn-primary attaquer-combat" disabled>Attaquer</button>
                                    </div></div>
                                {% else %}
                                <button type="button" user="{{users.username}}" data-id="{{users.id}}" class="btn btn-primary attaquer-combat">Attaquer</button> </div>
                                {% endif %}
                              {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    {% endif %}
                {% endif %}
            {% endfor %}
    {% endfor %}

      <div class="update" style="width: 100px; margin: 0 auto;">
        <button type="button" class="btn btn-success" onclick="location.href='/dashboard/arene/'">Rafraichir</button>
      </div>
    </div>
</div>
<div class="container" id="game" style="width: 1268px; display: none;">
    <br>
    <div id="phaser"></div>

    
</div>   
<div class"container" id="score" style="width: 1268px; display: none; text-align: center; margin: 0 auto; margin-bottom: 10px;">

</div>
 <div class="retour" style="width: 100px; margin: 0 auto; display: none;">
    <button type="button" class="btn btn-danger" onclick="location.href='/dashboard/arene/'">Retour</button>
  </div> 
</div>
<script src="//cdn.jsdelivr.net/npm/phaser@3.22.0/dist/phaser.min.js"></script>
<script>
var nomadversaire
var game
$(".attaquer-combat").click(function(){
  $(".ljoueur").hide()
  $("#game").show()
  $(".retour").show()
  $("#score").hide()
  nomadversaire = $(this).attr("user")
  idj2 = $(this).attr("data-id")
  game = new Phaser.Game(config);

})
var config = {
  type: Phaser.AUTO,
  width: 1100,
  height: 600,
  parent: 'phaser',
  scene: {
      preload: preload,
      create: create,
      update: update
  }
};
function preload (){
  this.load.image('bg', "/static/img/background.png");
  this.load.image('j1p1' , '/static/img/sprites/personnage_assemblВ/personnage-f1.png')
  this.load.image('j1p1bis' , '/static/img/sprites/personnage_assemblВ/personnage-f1-bis.png')
  this.load.image('j1p2' , '/static/img/sprites/personnage_assemblВ/personnage-f2.png')
  this.load.image('j1p3' , '/static/img/sprites/personnage_assemblВ/personnage-f3.png')
  this.load.image('j1p4' , '/static/img/sprites/personnage_assemblВ/personnage-f4.png')

}
function formatTime(seconds){
  var minutes = Math.floor(seconds/60);
  var partInSeconds = seconds%60;
  partInSeconds = partInSeconds.toString().padStart(2,'0');
  return `${minutes}:${partInSeconds}`;
}
var progressBox
var progressBar
var progressBox2
var pprogressBox
var pprogressBar
var pprogressBox2
var scorebox
var score
var pusername
var ppusername
var degatj1
var degatj2
var joueur2
function onEvent ()
{
  this.initialTime -= 1; // One second
  score.setText(formatTime(this.initialTime));
}
function create (){
    $.ajax({
        type: 'POST',
        url : '/dashboard/arene/infouser/',headers: { "X-CSRFToken": getCookie("csrftoken") },
        data: {'id' : idj2},
        async: false,
        success: function(data){
            joueur2 = data
        },
        error: function(data){
            console.log("erreur");
        }
    });
  if(joueur2.def != 0){
    degatj2 = ((joueur2.atq*4) / {{caracteristiques.defense}})*10
  } else {
    degatj2 = (joueur2.atq*4)*10
  }
  if({{caracteristiques.defense}} != 0){
    degatj1 = (({{caracteristiques.attaque}} *4)/joueur2.def)*10 
  } else {
    degatj1 = ({{caracteristiques.attaque}}*4)*10 
  }


  //degatj1 = (({{caracteristiques.attaque}} *4)/{{caracteristiques.defense}})*10  
  this.initialTime = 180;
  bg = this.add.image(0, 0, 'bg').setOrigin(0,0);
  bg.setDisplaySize(config.width,config.height);
  player = this.add.sprite(100,400,'j1p1').setDisplaySize(341,256)
  player2 = this.add.sprite(1000,400,'j1p1').setDisplaySize(341,256);
  player2.flipX = true
  progressBox2 = this.add.graphics();
  progressBox = this.add.graphics();
  progressBar = this.add.graphics();
  progressBox.fillStyle(0xFF0000, 1);
  progressBox.fillRect(10, 10, 320, 30);
  progressBox2.fillStyle(0x222222, 1);
  progressBox2.fillRect(0, 0, 340, 50);
  progressBar.clear();
  progressBar.fillStyle(0x32ea32 , 1);
  progressBar.fillRect(10, 10, 320 * 1, 30);
  pprogressBox2 = this.add.graphics();
  pprogressBox = this.add.graphics();
  pprogressBar = this.add.graphics();
  scorebox = this.add.graphics();
  pprogressBox.fillStyle(0xFF0000, 1);
  pprogressBox.fillRect(770, 10, 320, 30);
  pprogressBox2.fillStyle(0x222222, 1);
  pprogressBox2.fillRect(760, 0, 340, 50);
  pprogressBar.clear();
  pprogressBar.fillStyle(0x32ea32 , 1);
  pprogressBar.fillRect(770, 10, 320 * 1, 30);
  pprogressBox.fillStyle(0x222222, 1);
  pprogressBox.fillRect(470, 0, 160, 80);
  score = this.add.text(510, 25, formatTime(this.initialTime), { fontSize: '32px'});
  timedEvent = this.time.addEvent({ delay: 1000, callback: onEvent, callbackScope: this, loop: true });
  pusername = this.add.text(0, 50, "{{user.username}}", { fontSize: '20px'});
  ppusername = this.add.text(800, 50, nomadversaire, { fontSize: '20px'});
  ppusername.x = config.width - ppusername.width;
  tourjoueur1 = false
  tourjoueur2 = false
  phase1 = true
  phase2 = true 
  phase3 = true
  phase4 = true
  pphase1 = true
  pphase2 = true
  pphase3 = true
  pphase4 = true
  monte2 = false
  monte=false
  lastplayed = 0
  cpt = 0
  j1hp = 100
  j2hp = 100
  combat_start = true
  if(joueur2.spd > {{caracteristiques.vitesse}}){
    demarrer_combat(2)
  } else {
    demarrer_combat(1)
  }
}

function update (){
  if(j1hp>0 && j2hp>0){
    if(combat_start){
      bougerPerso()
      if(lastplayed == 1 && tourjoueur2){
        lancer_attaque_j2()
      } else if(lastplayed == 2 && tourjoueur1) {
        lancer_attaque_j1()
        console.log("le joueur 2 joue")
      }
      attaquer_perso1()
      attaquer_perso2()
    }
  } else {
    $("canvas").hide()
    if(j1hp<= 0){
      $("#score").text("Vous avez perdu. +0 golds")
      vainqueur = idj2
    } else {
      $("#score").text("Vous avez gagné. +30 golds")
      vainqueur = {{user.id}}
    }
    $("#score").show()
    game.destroy(true)
    if(vainqueur == {{user.id}}){
      golds = 30
    } else {
      golds = 0
    }
    $.ajax({
        type: 'POST',
        url : '/dashboard/arene/fincombat/',headers: { "X-CSRFToken": getCookie("csrftoken") },
        data: {'vainqueur' : vainqueur, 'attaque' : {{user.id}}, 'defense': idj2, 'golds' : golds}
      });
  }
}

function bougerPerso(){
  cpt++
  if(cpt %17==0){
    if(!monte2){
      player2.y-=5
      monte2 = true
    } else {
      player2.y+=5
      monte2=false
    }
   
  }
  if(cpt%18==0){
    if(phase4){
      if(!monte){
        player.y-=5
        monte = true
      } else {
        player.y+=5
        monte=false
      }
    }
  }
}

function attaquer_perso1(){
  if(tourjoueur1){
    if(!phase1){
      if(player.y > 120){
        player.setTexture('j1p2')
        player.x+=19.2
        player.y-=12
      } else {
        player.setTexture('j1p3')
        player2.setTexture('j1p1bis')
  
        phase1 = true
      }
    } else if(!phase2){
      if(player.y < 400){
        player.x+=13
        player.y+=13
      } else {
        player.setTexture('j1p4')
        console.log("pv")
        j2hp-=degatj1 // on retire 10 hp au joueur 2
        pprogressBar.clear()
        pprogressBar.fillStyle(0x32ea32 , 1);
        pprogressBar.fillRect(770, 10, 320 * (j2hp/100), 30);
        phase2 = true
      }
    } else if(!phase3){
      if(player.y < 450){
        player.x-=10.5
        player.y+=2
      } else {
        phase3 = true
        player.setTexture('j1p1')
        player2.setTexture('j1p1')
      }
    } else if(!phase4){
      if(player.x > 100){
        player.x-=10
        player.y-=1
      } else {
        phase4 = true
        tourjoueur1 = false
        tourjoueur2 = true
        console.log("Au tour du joueur 2")
        lastplayed = 1
        player.x = 100
        player.y = 400
      }
    }
  }
}

function attaquer_perso2(){
  if(tourjoueur2){
    if(!pphase1){
      if(player2.y > 120){
        player2.setTexture('j1p2')
        player2.x-=19.2
        player2.y-=12
      } else {
        player2.setTexture('j1p3')
        player.setTexture('j1p1bis')

        pphase1 = true
      }
    } else if(!pphase2){
      if(player2.y < 400){
        player2.x-=13
        player2.y+=13
      } else {
        player2.setTexture('j1p4')
        console.log("pv")
        j1hp-=degatj2 // on retire 10 hp au joueur 2
        progressBar.clear()
        progressBar.fillStyle(0x32ea32 , 1);
        progressBar.fillRect(10, 10, 320 * (j1hp/100), 30);
        pphase2 = true
      }
    } else if(!pphase3){
      if(player2.y < 450){
        player2.x+=10.5
        player2.y+=2
      } else {
        pphase3 = true
        player2.setTexture('j1p1')
        player.setTexture('j1p1')
      }
    } else if(!pphase4){
      if(player2.x < 1000){
        player2.x+=10
        player2.y-=1
      } else {
        pphase4 = true
        tourjoueur2 = false
        tourjoueur1 = true
        console.log("au tour du joueur 1")
        lastplayed = 2
        player2.x = 1000
        player2.y = 400
      }
    }
  }
}

function lancer_attaque_j1(){
  if(!tourjoueur2 && tourjoueur1){
    phase1 = false
    phase2 = false
    phase3 = false
    phase4 = false
    tourjoueur1 = true
    lastplayed = 1
  }
}

function lancer_attaque_j2(){
  if(!tourjoueur1 && tourjoueur2){
  pphase1 = false
  pphase2 = false
  pphase3 = false
  pphase4 = false
  tourjoueur2 = true
  lastplayed = 2
  }
}

function demarrer_combat(id){
  if(id == 1){
    tourjoueur1 = true
    lancer_attaque_j1()
    combat_start = true
    lastplayed = 1
  } else if(id == 2){
    tourjoueur2 = true
    lancer_attaque_j2()
    combat_start = true
    lastplayed = 2
  } else {
    console.log("Mauvais id")
  }
}
</script>

{% endblock %}
{% include 'dashboard/footer.html' %}



