{% load static %}

{% block footer %}
{% if messages %}
{% for message in messages %}
    {% if message.tags == 'error' %}
        <div class="alert alert-danger alert-dismissible fade show alert-fixed" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
            <strong>Erreur : </strong>{{message}}.
        </div>
    {% elif message.tags == 'success' %}
    <div class="alert alert-success alert-dismissible fade show alert-fixed" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
        <strong>Succès : </strong>{{message}}.
    </div>
    {% endif %}
{% endfor %}
{% endif %}
<script type="text/javascript" src="{% static 'jquery/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/menu.js' %}"></script>
<script type="text/javascript" src="{% static 'js/knock.js' %}"></script>
<script type="text/javascript" src="{% static 'js/skill.js' %}"></script>
<script type="text/javascript" src="{% static 'js/default.js' %}"></script>
{% endblock %}