{% load static %}

{% block footer %}
		
<script type="text/javascript" src="{% static 'jquery/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/menu.js' %}"></script>
<script type="text/javascript" src="{% static 'js/knock.js' %}"></script>
<script type="text/javascript" src="{% static 'js/skill.js' %}"></script>
<script type="text/javascript" src="{% static 'js/default.js' %}"></script>
{% endblock %}