{% load static %}
{% load app_filters %}


{% include 'dashboard/header.html' %}
{% block content %}
<br>
<div class="container">
    <div class="row">
        <div class="profil-picture">
            <div style="
            border: 0px solid;
            border-radius: 100%;
            height: 150px;
            width: 150px;
            border-top-color: transparent;
              background: url({% static 'img/male.png' %}) center/cover;
            " alt="Avatar">
            <svg
   class="progress-ring"
   width="150"
   height="150">
  <circle
    style="transition: 0.35s stroke-dashoffset;
          transform: rotate(-90deg);
          transform-origin: 50% 50%;"
    stroke="#98e2fb"
    stroke-width="3"
    fill="transparent"
    r="73.7"
    cx="75"
    cy="75"/>
</svg>
          </div>

          <div class="centered">{{ caracteristiques.niveau }}</div>

        </div>
        <h1 style="font-weight:bolder; margin-top: 50px; margin-left: 20px;">{{ user.username }} </h1>
        
    </div>

    <div class="row" style="margin-left: 150px; margin-top: -30px; border-bottom: 1px; border-color: #2c2c40; border-bottom-style: solid; font-weight: bolder;">
        <ul class="nav">
            <li class="nav-item">
              <a class="nav-link active btn1" href="#">Résumé</a>
            </li>
            <li class="nav-item">
              <a class="nav-link btn2" href="#inventaire">Inventaire</a>
            </li>
            <li class="nav-item">
              <a class="nav-link btn3" href="#competences">Compétences</a>
            </li>
          </ul>
    </div>
    <div class="container resume" style="margin-top: 20px;">
        <div class="container" style="max-width: 300px; margin-left:0; margin-right: 0; float: left;">
            <div class="afficher_perso" style="background: 
            url({%static 'img/sprites/view_stuff/' %}{{casque.nom}}.png) no-repeat center center,
            url({%static 'img/sprites/view_stuff/' %}cheveux-t3.png) no-repeat center center,
            url({%static 'img/sprites/view_stuff/' %}{{armure.nom}}.png) no-repeat center center,
            url({%static 'img/sprites/view_stuff/' %}{{pantalon.nom}}.png) no-repeat center center,
            url({%static 'img/sprites/view_stuff/' %}{{chaussures.nom}}.png) no-repeat center center,
            url({%static 'img/sprites/view_stuff/' %}homme.png) no-repeat center center,
            url({%static 'img/sprites/view_stuff/' %}{{arme.nom}}.png) no-repeat center center
            ;background-size: 400px 300px; ">
            </div>
        </div>
        <div class="container" style="max-width: 150px; float: left; margin-left: 80px; margin-right: 20px;">
            <form method="POST">
              {% csrf_token %}
              <div class="row">
                <div class="afficher_casque afficher_stuff" style="background-repeat: no-repeat; background-size: 100%; background-position: 45% 0%; background-image: url({% static "img/sprites/preview/" %}{{casque.nom}}-icone.png);">
                  <input name="casque" type="hidden" value="{{casque.id}}">
                  {% if casque.id != -1 %}
                    <button class="close" type="submit" formaction="desequip/casque/"><span aria-hidden="true">&times;</span></button>
                    {% endif %}
                </div>
            </div>
            <div class="row">
              <div class="afficher_torse afficher_stuff" style="background-repeat: no-repeat; background-size: 60%; background-position: 45% 50%; background-image: url({% static "img/sprites/preview/" %}{{armure.nom}}-icone.png);">
                <input name="armure" type="hidden" value="{{armure.id}}">
                {% if armure.id != -1 %}
                  <button class="close" type="submit" formaction="desequip/armure/"><span aria-hidden="true">&times;</span></button>
                {% endif %}
              </div>
            </div>
            <div class="row">
              <div class="afficher_pantalon afficher_stuff" style="background-repeat: no-repeat; background-size: 80%; background-position: 45% 75%; background-image: url({% static "img/sprites/preview/" %}{{pantalon.nom}}-icone.png);">
                <input name="pantalon" type="hidden" value="{{pantalon.id}}">
                {% if pantalon.id != -1 %}
                  <button class="close" type="submit" formaction="desequip/pantalon/"><span aria-hidden="true">&times;</span></button>
                {% endif %}
              </div>
            </div>
            <div class="row">
              <div class="afficher_chaussures afficher_stuff" style="background-repeat: no-repeat; background-size: 100%; background-position: 45% 110%; background-image: url({% static "img/sprites/preview/" %}{{chaussures.nom}}-icone.png);">
                <input name="chaussures" type="hidden" value="{{chaussures.id}}">
                {% if chaussures.id != -1 %}
                  <button class="close" type="submit" formaction="desequip/chaussures/"><span aria-hidden="true">&times;</span></button>
                {% endif %}
              </div>
            </div>
        </div>
        <div class="container" style="max-width: 100px; margin-left:20px; margin-top: 125px; margin-right: 40px; float: left;">
          <div class="afficher_arme afficher_stuff" style="background-repeat: no-repeat; background-size: 100%; background-position: 67% 20%; background-image: url({% static "img/sprites/preview/" %}{{arme.nom}}-icone.png);">
            <input name="arme" type="hidden" value="{{arme.id}}">
            {% if arme.id != -1 %}
              <button class="close" type="submit" formaction="desequip/arme/"><span aria-hidden="true">&times;</span></button>
            {% endif %}
          </div>
        </div>
        <div class="container" style="max-width: 300px; margin-left:50px; margin-right: 20px; float: left;">
            <div class="card" style="width: 18rem; border-width: 0px; border-color: #2c2c40; height: 50px;">
                <div class="card-body" style="background-color: rgb(23, 23, 46);">
                  <p class="card-text" style="font-weight: bolder; font-size: 20px">Statistiques </p>
  
                </div>
              </div>
            <div class="card" style="width: 18rem; border-color: #2c2c40; height: 330px; margin-top: 20px; border-width: 0px; font-weight: bolder; ">
                <div class="card-body" style="background-color: rgb(34, 34, 56)">
                  <p class="card-text">Attaque : {{ caracteristiques.attaque  }}<div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: calc(({{ caracteristiques.attaque }}/12)*100%)" aria-valuenow="{{ caracteristiques.attaque }}" aria-valuemin="0" aria-valuemax="50"></div>
                  </div>
                </p> 
                  <p class="card-text">Défense : {{ caracteristiques.defense }}<div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: calc(({{ caracteristiques.defense }}/29)*100%)" aria-valuenow="{{ caracteristiques.defense }}" aria-valuemin="0" aria-valuemax="50"></div>
                  </div></p>
                  <p class="card-text">Vitesse : {{ caracteristiques.vitesse }}<div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: {{ caracteristiques.vitesse }}%" aria-valuenow="{{ caracteristiques.vitesse }}" aria-valuemin="0" aria-valuemax="50"></div>
                  </div> </p>
                  <p class="card-text">Precision : {{ caracteristiques.precision }}<div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: {{ caracteristiques.precision }}%" aria-valuenow="{{ caracteristiques.precision }}" aria-valuemin="0" aria-valuemax="50"></div>
                  </div> </p>
                  <p class="card-text">Effet : {{ caracteristiques.effet }}<div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: {{ caracteristiques.effet }}%" aria-valuenow="{{ caracteristiques.effet }}" aria-valuemin="0" aria-valuemax="50"></div>
                  </div> </p>

                </div>
              </div>
        </div>
    </div>
    
    <div class="container objets" style="margin-top: 20px; display:none;">
      {% if inv|length >= 1 %}
      <div class="container liste-objet" style="width: 25%; margin-left: 0; margin-right: 0; float: left; height: 400px;">
          <div class="list-group">

              {% for objet in inv %}
                <a href="#" id="btnobjet{{objet.id}}" class="list-group-item list-group-item-action "><img style="width: 30px;" src="{% static 'img/sprites/preview/' %}{{objet.nom}}-icone.png" /> {{ objet.id|get_item }}</a>
              {% endfor %}
        </div>
      </div>

      <div class="container liste-objet" style="width: 100%; margin-left: 0; margin-right: 0;">
          <div class="card">
              <div class="card-body objet-detail" style="background-color: rgb(23, 23, 46);">
                <div id="objet-nom">

                </div>
              </div>
            </div>
        <div class="card">
          <div class="card-body objet-detail">
            <div id="objet-info">

            </div>
          </div>
        </div>
      </div>
      {% else %}
      <h5>Pas d'objets trouvé</h5>
      {% endif %}
    </div>
    <div class="container competences" style="margin-top: 20px; display:none;">
        work in progress
    </div>
    <script>
      $(document).ready(function(){

        {% for objet in inv %}
          {% if forloop.counter == 1 %}
            $('#objet-nom').html("<h4>{{ objet.id|get_item }}</h4>");
            $('#objet-info').html('<h5>Point d\'attaque: {{objet.pa}} </h5><h5>Point de défense: {{ objet.pd }}</h5><br><form method="POST">{% csrf_token %}<input name="item" type="hidden" value="{{objet.id}}"><button type="submit" formaction="equip/" class="btn btn-success equip">Equiper</button> <button type="submit" formaction="vendre/" class="btn btn-danger suppr">Vendre {{objet.prix_vente}} <img style="margin-bottom: 2px; width: 25px; height: 20px;" src="{% static "/img/gold.png" %}"> </button></form>');
            $('#btnobjet{{ objet.id }}').addClass("active");
           {% endif %}
        {% endfor %}
        {% for objet in inv %}
          $("#btnobjet{{objet.id}}").click(function(){
            $('#objet-nom').html("<h4>{{ objet.id|get_item }}</h4>");
            $('#objet-info').html('<h5>Point d\'attaque: {{objet.pa}} </h5><h5>Point de défense: {{ objet.pd }}</h5><br><form method="POST">{% csrf_token %}<input name="item" type="hidden" value="{{objet.id}}"><button type="submit" formaction="equip/" class="btn btn-success equip">Equiper</button> <button type="submit" formaction="vendre/" class="btn btn-danger suppr">Vendre {{objet.prix_vente}} <img style="margin-bottom: 2px; width: 25px; height: 20px;" src="{% static "/img/gold.png" %}"> </button></form>');
            {% for objet2 in inv %}
              {% if objet2.id == objet.id %}
                $('#btnobjet{{objet2.id}}').addClass("active");
              {% else %}
                $('#btnobjet{{objet2.id}}').removeClass("active");
              {% endif %}
            {% endfor %}
          });
        {% endfor %}
      });

      var circle = document.querySelector('circle');
      var radius = circle.r.baseVal.value;
      var circumference = radius * 2 * Math.PI;

      circle.style.strokeDasharray = `${circumference} ${circumference}`;
      circle.style.strokeDashoffset = `${circumference}`;

      function setProgress(percent) {
        const offset = circumference - percent / 100 * circumference;
        circle.style.strokeDashoffset = offset;
      }
      setProgress({{caracteristiques.exp}})
    </script>
{% endblock %}
{% include 'dashboard/footer.html' %}