{% load static %}
{% load app_filters %}


{% include 'dashboard/header.html' %}
{% block content %}
<br>
<div class="container">
    <div class="row">
        <div class="profil-picture">
            <div class="centered">{{ cara.niveau }}</div>
            <img style="border-radius: 50%; border-style: solid; border-color: #2888f6; width: 150px;" src="{% static 'img/male.png' %}" alt="Avatar">
        </div>
        <h1 style="font-weight:bolder; margin-top: 50px; margin-left: 20px;">{{ user.username }} </h1>
        
    </div>

    <div class="row" style="margin-left: 150px; margin-top: -30px; border-bottom: 1px; border-color: #2c2c40; border-bottom-style: solid; font-weight: bolder;">
        <ul class="nav">
            <li class="nav-item">
              <a class="nav-link active btn1" href="#">Résumé</a>
            </li>
            <li class="nav-item">
              <a class="nav-link btn2" href="#inventaire">Inventaire</a>
            </li>
            <li class="nav-item">
              <a class="nav-link btn3" href="#competences">Compétences</a>
            </li>
          </ul>
    </div>
    <div class="container resume" style="margin-top: 20px;">
        <div class="container" style="max-width: 300px; margin-left:0; margin-right: 0; float: left;">
            <div class="afficher_perso" style="background-repeat: no-repeat; background-size: 50%; background-position: center; background-image: url({%static 'img/mc/steve_face.png' %})">
            </div>
        </div>
        <div class="container" style="max-width: 150px; float: left; margin-left: 80px; margin-right: 20px;">
            <form method="POST">
              {% csrf_token %}
              <div class="row">
                <div class="afficher_casque" style="background-repeat: no-repeat; background-size: 50%; background-position: center; background-image: url({% static "img/mc/" %}{{casque.nom}}.png);">
                  <input name="casque" type="hidden" value="{{casque.id}}">
                  <button class="close" type="submit" formaction="desequip/casque/"><span aria-hidden="true">&times;</span></button>
                </div>
            </div>
            <div class="row">
              <div class="afficher_torse" style="background-repeat: no-repeat; background-size: 50%; background-position: center; background-image: url({% static "img/mc/" %}{{armure.nom}}.png);">
                <input name="armure" type="hidden" value="{{armure.id}}">
                <button class="close" type="submit" formaction="desequip/armure/"><span aria-hidden="true">&times;</span></button>
              </div>
            </div>
            <div class="row">
              <div class="afficher_pantalon" style="background-repeat: no-repeat; background-size: 50%; background-position: center; background-image: url({% static "img/mc/" %}{{pantalon.nom}}.png);">
                <input name="pantalon" type="hidden" value="{{pantalon.id}}">
                <button class="close" type="submit" formaction="desequip/pantalon/"><span aria-hidden="true">&times;</span></button>
              </div>
            </div>
            <div class="row">
              <div class="afficher_chaussures" style="background-repeat: no-repeat; background-size: 50%; background-position: center; background-image: url({% static "img/mc/" %}{{chaussures.nom}}.png);">
                <input name="chaussures" type="hidden" value="{{chaussures.id}}">
                <button class="close" type="submit" formaction="desequip/chaussures/"><span aria-hidden="true">&times;</span></button>
              </div>
            </div>
        </div>
        <div class="container" style="max-width: 100px; margin-left:20px; margin-top: 125px; margin-right: 40px; float: left;">
          <div class="afficher_arme" style="background-repeat: no-repeat; background-size: 50%; background-position: center; background-image: url({% static "img/mc/" %}{{arme.nom}}.png);">
            <input name="arme" type="hidden" value="{{arme.id}}">
            <button class="close" type="submit" formaction="desequip/arme/"><span aria-hidden="true">&times;</span></button>
          </div>
        </div>
        <div class="container" style="max-width: 300px; margin-left:50px; margin-right: 20px; float: left;">
            <div class="card" style="width: 18rem; border-width: 0px; border-color: #2c2c40; height: 50px;">
                <div class="card-body" style="background-color: rgb(23, 23, 46);">
                  <p class="card-text" style="font-weight: bolder; font-size: 20px">Statistiques </p>
  
                </div>
              </div>
            <div class="card" style="width: 18rem; border-color: #2c2c40; height: 330px; margin-top: 20px; border-width: 0px; font-weight: bolder; ">
                <div class="card-body" style="background-color: rgb(34, 34, 56)">
                  <p class="card-text">Attaque : {{ arme.pa  }}<div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: {{ arme.pa|add:arme.pa|add:arme.pa }}%" aria-valuenow="{{ arme.pa|add:arme.pa|add:arme.pa }}" aria-valuemin="0" aria-valuemax="50"></div>
                  </div>
                </p> 
                  <p class="card-text">Défense : {{ casque.pd|add:armure.pd|add:pantalon.pd|add:chaussures.pd }}<div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: {{ casque.pd|add:armure.pd|add:pantalon.pd|add:chaussures.pd }}%" aria-valuenow="{{ casque.pd|add:armure.pd|add:pantalon.pd|add:chaussures.pd }}" aria-valuemin="0" aria-valuemax="50"></div>
                  </div></p>
                  <p class="card-text">Vitesse : {{ cara.vitesse }}<div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: {{ cara.vitesse }}%" aria-valuenow="{{ cara.vitesse }}" aria-valuemin="0" aria-valuemax="50"></div>
                  </div> </p>
                  <p class="card-text">Precision : {{ cara.precision }}<div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: {{ cara.precision }}%" aria-valuenow="{{ cara.precision }}" aria-valuemin="0" aria-valuemax="50"></div>
                  </div> </p>
                  <p class="card-text">Effet : {{ cara.effet }}<div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: {{ cara.effet }}%" aria-valuenow="{{ cara.effet }}" aria-valuemin="0" aria-valuemax="50"></div>
                  </div> </p>

                </div>
              </div>
        </div>
    </div>
    
    <div class="container objets" style="margin-top: 20px; display:none;">
      {% if inv|length >= 1 %}
      <div class="container liste-objet" style="width: 25%; margin-left: 0; margin-right: 0; float: left; height: 400px;">
          <div class="list-group">

              {% for objet in inv %}
                <a href="#" id="btnobjet{{objet.id}}" class="list-group-item list-group-item-action "><img src="{% static 'img/mc/' %}{{objet.nom}}.png" /> {{ objet.id|get_item }}</a>
              {% endfor %}
        </div>
      </div>

      <div class="container liste-objet" style="width: 100%; margin-left: 0; margin-right: 0;">
          <div class="card">
              <div class="card-body objet-detail" style="background-color: rgb(23, 23, 46);">
                <div id="objet-nom">

                </div>
              </div>
            </div>
        <div class="card">
          <div class="card-body objet-detail">
            <div id="objet-info">

            </div>
          </div>
        </div>
      </div>
      {% else %}
      <h5>Pas d'objets trouvé</h5>
      {% endif %}
    </div>
    <div class="container competences" style="margin-top: 20px; display:none;">
      competences
    </div>
    <script>
      $(document).ready(function(){

        {% for objet in inv %}
          {% if forloop.counter == 1 %}
            $('#objet-nom').html("<h4>{{ objet.id|get_item }}</h4>");
            $('#objet-info').html('<h5>Point d\'attaque: {{objet.pa}} </h5><h5>Point de défense: {{ objet.pd }}</h5><br><form method="POST">{% csrf_token %}<input name="item" type="hidden" value="{{objet.id}}"><button type="submit" formaction="equip/" class="btn btn-success equip">Equiper</button> <button type="submit" formaction="suppr/" class="btn btn-danger suppr">Supprimer</button></form>');
            $('#btnobjet{{ objet.id }}').addClass("active");
           {% endif %}
        {% endfor %}
        {% for objet in inv %}
          $("#btnobjet{{objet.id}}").click(function(){
            $('#objet-nom').html("<h4>{{ objet.id|get_item }}</h4>");
            $('#objet-info').html('<h5>Point d\'attaque: {{objet.pa}} </h5><h5>Point de défense: {{ objet.pd }}</h5><br><form method="POST">{% csrf_token %}<input name="item" type="hidden" value="{{objet.id}}"><button type="submit" formaction="equip/" class="btn btn-success equip">Equiper</button> <button type="submit" formaction="suppr/" class="btn btn-danger suppr">Supprimer</button></form>');
            {% for objet2 in inv %}
              {% if objet2.id == objet.id %}
                $('#btnobjet{{objet2.id}}').addClass("active");
              {% else %}
                $('#btnobjet{{objet2.id}}').removeClass("active");
              {% endif %}
            {% endfor %}
          });
        {% endfor %}
      });
      
    </script>
{% endblock %}
{% include 'dashboard/footer.html' %}



