{% load static %}
{% load app_filters %}


{% include 'dashboard/header.html' %}
{% block content %}
<br>
<div class="container">
    <div class="row">
        <div class="profil-picture">
            <div class="centered">{{ caracteristiques.niveau }}</div>
            <img style="border-radius: 50%; border-style: solid; border-color: #2888f6; width: 150px;" src="{% static 'img/male.png' %}" alt="Avatar">
        </div>
        <h1 style="font-weight:bolder; margin-top: 50px; margin-left: 20px;">{{ user.username }} </h1>
        
    </div>

    <div class="row" style="margin-left: 150px; margin-top: -30px; border-bottom: 1px; border-color: #2c2c40; border-bottom-style: solid; font-weight: bolder;">
        <ul class="nav">
            <li class="nav-item">
              <a class="nav-link active btn1" href="#">Résumé</a>
            </li>
            <li class="nav-item">
              <a class="nav-link btn2" href="#inventaire">Inventaire</a>
            </li>
            <li class="nav-item">
              <a class="nav-link btn3" href="#competences">Compétences</a>
            </li>
          </ul>
    </div>
    <div class="container resume" style="margin-top: 20px;">
        <div class="container" style="max-width: 300px; margin-left:0; margin-right: 0; float: left;">
            <div class="afficher_perso" style="background-repeat: no-repeat; background-size: 50%; background-position: center; background-image: url({%static 'img/mc/steve_face.png' %})">
            </div>
        </div>
        <div class="container" style="max-width: 150px; float: left; margin-left: 80px; margin-right: 20px;">
            <form method="POST">
              {% csrf_token %}
              <div class="row">
                <div class="afficher_casque afficher_stuff" style="background-repeat: no-repeat; background-size: 50%; background-position: center; background-image: url({% static "img/mc/" %}{{casque.nom}}.png);">
                  <input name="casque" type="hidden" value="{{casque.id}}">
                  {% if casque.id != -1 %}
                    <button class="close" type="submit" formaction="desequip/casque/"><span aria-hidden="true">&times;</span></button>
                    {% endif %}
                </div>
            </div>
            <div class="row">
              <div class="afficher_torse afficher_stuff" style="background-repeat: no-repeat; background-size: 50%; background-position: center; background-image: url({% static "img/mc/" %}{{armure.nom}}.png);">
                <input name="armure" type="hidden" value="{{armure.id}}">
                {% if armure.id != -1 %}
                  <button class="close" type="submit" formaction="desequip/armure/"><span aria-hidden="true">&times;</span></button>
                {% endif %}
              </div>
            </div>
            <div class="row">
              <div class="afficher_pantalon afficher_stuff" style="background-repeat: no-repeat; background-size: 50%; background-position: center; background-image: url({% static "img/mc/" %}{{pantalon.nom}}.png);">
                <input name="pantalon" type="hidden" value="{{pantalon.id}}">
                {% if pantalon.id != -1 %}
                  <button class="close" type="submit" formaction="desequip/pantalon/"><span aria-hidden="true">&times;</span></button>
                {% endif %}
              </div>
            </div>
            <div class="row">
              <div class="afficher_chaussures afficher_stuff" style="background-repeat: no-repeat; background-size: 50%; background-position: center; background-image: url({% static "img/mc/" %}{{chaussures.nom}}.png);">
                <input name="chaussures" type="hidden" value="{{chaussures.id}}">
                {% if chaussures.id != -1 %}
                  <button class="close" type="submit" formaction="desequip/chaussures/"><span aria-hidden="true">&times;</span></button>
                {% endif %}
              </div>
            </div>
        </div>
        <div class="container" style="max-width: 100px; margin-left:20px; margin-top: 125px; margin-right: 40px; float: left;">
          <div class="afficher_arme afficher_stuff" style="background-repeat: no-repeat; background-size: 50%; background-position: center; background-image: url({% static "img/mc/" %}{{arme.nom}}.png);">
            <input name="arme" type="hidden" value="{{arme.id}}">
            {% if arme.id != -1 %}
              <button class="close" type="submit" formaction="desequip/arme/"><span aria-hidden="true">&times;</span></button>
            {% endif %}
          </div>
        </div>
        <div class="container" style="max-width: 300px; margin-left:50px; margin-right: 20px; float: left;">
            <div class="card" style="width: 18rem; border-width: 0px; border-color: #2c2c40; height: 50px;">
                <div class="card-body" style="background-color: rgb(23, 23, 46);">
                  <p class="card-text" style="font-weight: bolder; font-size: 20px">Statistiques </p>
  
                </div>
              </div>
            <div class="card" style="width: 18rem; border-color: #2c2c40; height: 330px; margin-top: 20px; border-width: 0px; font-weight: bolder; ">
                <div class="card-body" style="background-color: rgb(34, 34, 56)">
                  <p class="card-text">Attaque : {{ arme.pa  }}<div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: {{ arme.pa|add:arme.pa|add:arme.pa }}%" aria-valuenow="{{ arme.pa|add:arme.pa|add:arme.pa }}" aria-valuemin="0" aria-valuemax="50"></div>
                  </div>
                </p> 
                  <p class="card-text">Défense : {{ casque.pd|add:armure.pd|add:pantalon.pd|add:chaussures.pd }}<div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: {{ casque.pd|add:armure.pd|add:pantalon.pd|add:chaussures.pd }}%" aria-valuenow="{{ casque.pd|add:armure.pd|add:pantalon.pd|add:chaussures.pd }}" aria-valuemin="0" aria-valuemax="50"></div>
                  </div></p>
                  <p class="card-text">Vitesse : {{ caracteristiques.vitesse }}<div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: {{ caracteristiques.vitesse }}%" aria-valuenow="{{ caracteristiques.vitesse }}" aria-valuemin="0" aria-valuemax="50"></div>
                  </div> </p>
                  <p class="card-text">Precision : {{ caracteristiques.precision }}<div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: {{ caracteristiques.precision }}%" aria-valuenow="{{ caracteristiques.precision }}" aria-valuemin="0" aria-valuemax="50"></div>
                  </div> </p>
                  <p class="card-text">Effet : {{ caracteristiques.effet }}<div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: {{ caracteristiques.effet }}%" aria-valuenow="{{ caracteristiques.effet }}" aria-valuemin="0" aria-valuemax="50"></div>
                  </div> </p>

                </div>
              </div>
        </div>
    </div>
    
    <div class="container objets" style="margin-top: 20px; display:none;">
      {% if inv|length >= 1 %}
      <div class="container liste-objet" style="width: 25%; margin-left: 0; margin-right: 0; float: left; height: 400px;">
          <div class="list-group">

              {% for objet in inv %}
                <a href="#" id="btnobjet{{objet.id}}" class="list-group-item list-group-item-action "><img src="{% static 'img/mc/' %}{{objet.nom}}.png" /> {{ objet.id|get_item }}</a>
              {% endfor %}
        </div>
      </div>

      <div class="container liste-objet" style="width: 100%; margin-left: 0; margin-right: 0;">
          <div class="card">
              <div class="card-body objet-detail" style="background-color: rgb(23, 23, 46);">
                <div id="objet-nom">

                </div>
              </div>
            </div>
        <div class="card">
          <div class="card-body objet-detail">
            <div id="objet-info">

            </div>
          </div>
        </div>
      </div>
      {% else %}
      <h5>Pas d'objets trouvé</h5>
      {% endif %}
    </div>
    <div class="container competences" style="margin-top: 20px; display:none;">
        <div data-bind="css: { open: isOpen }" class="page">
          <div class="talent-tree">
            
            <!--ko foreach: skills-->
            <!--ko if: hasDependencies-->
            <div data-bind="css: { 'can-add-points': canAddPoints, 'has-points': hasPoints, 'has-max-points': hasMaxPoints }, attr: { 'data-skill-id': id }" class="skill">
              <div data-bind="css: { active: dependenciesFulfilled }" class="skill-dependency"></div>
            </div>
            <!--/ko-->
            <!--/ko-->
            <!--ko foreach: skills-->
            <div data-bind="css: { 'can-add-points': canAddPoints, 'has-points': hasPoints, 'has-max-points': hasMaxPoints }, attr: { 'data-skill-id': id }" class="skill">
              <div class="icon-container">
                <div class="icon"></div>
              </div>
              <div class="frame">
                <div class="tool-tip">
                  <h3 data-bind="text: title" class="skill-name"></h3>
                  <div data-bind="html: description" class="skill-description"></div>
                  <ul class="skill-links">
                    <!--ko foreach: links-->
                    <li>
                      <a data-bind="attr: { href: url }, click: function(){ 
                        _gaq.push(['_trackEvent',$parent.title, label, url]);
                        return true;
                        }, text: label" target="_blank"></a>
                    </li>
                    <!--/ko-->
                  </ul>
                  <hr data-bind="visible: currentRankDescription() || nextRankDescription()">
                  <div data-bind="if: currentRankDescription" class="current-rank-description">Current rank: <span data-bind="	text: currentRankDescription"></span></div>
                  <div data-bind="if: nextRankDescription" class="next-rank-description">Next rank: <span data-bind="	text: nextRankDescription"></span></div>
                  <hr>
                  <ul class="stats">
                    <!--ko foreach: stats-->
                    <li><span class="value">+<span data-bind="text: value"></span></span> <span data-bind="	text: title" class="title"></span></li>
                    <!--/ko-->
                  </ul>
                  <!--ko if: talentSummary-->
                  <div class="talent-summary">Grants <span data-bind="text: talentSummary"></span></div>
                  <!--/ko-->
                  <div data-bind="text: helpMessage" class="help-message"></div>
                </div>
                <div class="skill-points"><span data-bind="text: points" class="points"></span>/<span data-bind="	text: maxPoints" class="max-points"></span></div>
                <div data-bind="click: addPoint, rightClick: removePoint" class="hit-area"></div>
              </div>
            </div>
            <!--/ko-->
          </div>

        </div>
    </div>
    <script>
      $(document).ready(function(){

        {% for objet in inv %}
          {% if forloop.counter == 1 %}
            $('#objet-nom').html("<h4>{{ objet.id|get_item }}</h4>");
            $('#objet-info').html('<h5>Point d\'attaque: {{objet.pa}} </h5><h5>Point de défense: {{ objet.pd }}</h5><br><form method="POST">{% csrf_token %}<input name="item" type="hidden" value="{{objet.id}}"><button type="submit" formaction="equip/" class="btn btn-success equip">Equiper</button> <button type="submit" formaction="vendre/" class="btn btn-danger suppr">Vendre {{objet.prix_vente}} <img style="margin-bottom: 2px; width: 25px; height: 20px;" src="{% static "/img/gold.png" %}"> </button></form>');
            $('#btnobjet{{ objet.id }}').addClass("active");
           {% endif %}
        {% endfor %}
        {% for objet in inv %}
          $("#btnobjet{{objet.id}}").click(function(){
            $('#objet-nom').html("<h4>{{ objet.id|get_item }}</h4>");
            $('#objet-info').html('<h5>Point d\'attaque: {{objet.pa}} </h5><h5>Point de défense: {{ objet.pd }}</h5><br><form method="POST">{% csrf_token %}<input name="item" type="hidden" value="{{objet.id}}"><button type="submit" formaction="equip/" class="btn btn-success equip">Equiper</button> <button type="submit" formaction="vendre/" class="btn btn-danger suppr">Vendre {{objet.prix_vente}} <img style="margin-bottom: 2px; width: 25px; height: 20px;" src="{% static "/img/gold.png" %}"> </button></form>');
            {% for objet2 in inv %}
              {% if objet2.id == objet.id %}
                $('#btnobjet{{objet2.id}}').addClass("active");
              {% else %}
                $('#btnobjet{{objet2.id}}').removeClass("active");
              {% endif %}
            {% endfor %}
          });
        {% endfor %}
      });
    </script>
{% endblock %}
{% include 'dashboard/footer.html' %}



